In [1]:
#list creation using the range function. 1 is the starting value, 100 is the ending value
#and the increment is 2
first_list = list(range(1,100,2))
print(first_list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [2]:
#squaring each element of first_list using for loop
square_of_first_list=[]
for i in first_list:
    j=i**2
    square_of_first_list.append(j)

print(square_of_first_list)

[1, 9, 25, 49, 81, 121, 169, 225, 289, 361, 441, 529, 625, 729, 841, 961, 1089, 1225, 1369, 1521, 1681, 1849, 2025, 2209, 2401, 2601, 2809, 3025, 3249, 3481, 3721, 3969, 4225, 4489, 4761, 5041, 5329, 5625, 5929, 6241, 6561, 6889, 7225, 7569, 7921, 8281, 8649, 9025, 9409, 9801]

In [53]:
#displaying the length of first_list(the total elements in the list)
print(len(first_list))

50

In [72]:
#squaring each element of first_list using while loop
square_of_first_list1 = []
i= 0
while i < 50:
    x=first_list[i]**2
    square_of_first_list1.append(x)
    i = i+1

print(square_of_first_list1)

[1, 9, 25, 49, 81, 121, 169, 225, 289, 361, 441, 529, 625, 729, 841, 961, 1089, 1225, 1369, 1521, 1681, 1849, 2025, 2209, 2401, 2601, 2809, 3025, 3249, 3481, 3721, 3969, 4225, 4489, 4761, 5041, 5329, 5625, 5929, 6241, 1, 4, 9, 529, 4, 4, 16, 25, 25, 36]

In [12]:
#squaring each element of first_list using lambda and map function
y= lambda x : x**2
square_of_first_list2 = list(map(y, first_list))
print(square_of_first_list2 )

[1, 9, 25, 49, 81, 121, 169, 225, 289, 361, 441, 529, 625, 729, 841, 961, 1089, 1225, 1369, 1521, 1681, 1849, 2025, 2209, 2401, 2601, 2809, 3025, 3249, 3481, 3721, 3969, 4225, 4489, 4761, 5041, 5329, 5625, 5929, 6241, 6561, 6889, 7225, 7569, 7921, 8281, 8649, 9025, 9409, 9801]

In [14]:
#squaring each element of first_list using list comprehension
square_of_first_list3 = [ x**2 for x in first_list]
print(square_of_first_list3)

[1, 9, 25, 49, 81, 121, 169, 225, 289, 361, 441, 529, 625, 729, 841, 961, 1089, 1225, 1369, 1521, 1681, 1849, 2025, 2209, 2401, 2601, 2809, 3025, 3249, 3481, 3721, 3969, 4225, 4489, 4761, 5041, 5329, 5625, 5929, 6241, 6561, 6889, 7225, 7569, 7921, 8281, 8649, 9025, 9409, 9801]

In [15]:
#displaying the first element in the first_list
first_list[0]

1

In [17]:
#displaying the first ten elements in the first_list
first_list[0:10]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [18]:
#displaying the first element in the first_list
first_list[0::3]

[1, 7, 13, 19, 25, 31, 37, 43, 49, 55, 61, 67, 73, 79, 85, 91, 97]

In [35]:
#displaying the last element in the first_list
first_list [-10:]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 1, 2, 3, 23, 2, 2, 4, 5, 5, 6]

In [40]:
#creating first_tuple, second_tuple and summing them
first_tuple, second_tuple = (1,2,3), (2,4,6)
first_tuple+ second_tuple

(1, 2, 3, 2, 4, 6)

In [34]:
#displaying the third element of first_tuple
first_tuple[2]

3

In [38]:
#creating a tuple of lists
tuple_list = (first_list[0::3], first_list [-10:], first_list[0:10])
print(tuple_list[0] + tuple_list[1])

[1, 7, 13, 19, 25, 31, 37, 43, 49, 55, 61, 67, 73, 79, 3, 2, 5, 1, 2, 3, 23, 2, 2, 4, 5, 5, 6]

In [71]:
#creating a tuple of boolean values assigned to the variable boolean_tuple
x=5.0
y='book'
boolean_tuple = ((isinstance(x, int), isinstance(y, str)))
boolean_tuple

(False, True)

In [45]:
#creating a dictionary and assigning it to the variable first_dict
first_dict = {'A': 'animals', 'B': 'balls', 'C': 'chairs', 'D': 8}
list(first_dict.keys()),list(first_dict.values())

(['A', 'B', 'C', 'D'], ['animals', 'balls', 'chairs', 8])

In [46]:
#extracting the value for the key 'A'
first_dict['A']

{'A': 2, 'B': 'balls', 'C': 'chairs', 'D': 8}

In [74]:
#displaying the keys and values of the dictionary first_keys
first_dict.keys(), first_dict.values()

(dict_keys(['A', 'B', 'C']), dict_values([2, 'balls', 'chairs']))

In [ ]:
#deleting the key 'D'(with it's value) in first_dict
del first_dict['D']
first_dict

In [48]:
#installing numpy package
!pip install numpy

Requirement already satisfied: numpy in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (1.26.2)

As an exercise please install numpy, pandas, matplotlib and seaborn using the following commands:
!pip install numpy
!pip install matplotlib
!pip install pandas
!pip install seaborn